
@media (prefers-color-scheme: dark) {


    $white-color: #ffffff;
    $black-color: #000000;
    $back: whitesmoke;
    $theme: #012154;
    $themesupport: #03f8fc;
    $lightcolor:#121212;


    body{
        background-color: $black-color;
        color: $white-color;
    }

    .subheading{
        color: $themesupport;
        i{
            color: $themesupport;   
        }
    }

    .contactbuts span {
        color: $white-color;
    }

    .productcover{
        background:$lightcolor ;

    }

    h1,h2,h4,h3,h5{
        color: $white-color;
    }

    footer{
        h4{
            color: $white-color;
        }
       
    }

}
