@media screen and (max-width: 760px) {

    body{
        font-size: 110%;
    }
    header{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 3% 1%;
        a span{
            display: none;
        }
        z-index: 2;
    }

    main{
        width: 98%;
        margin: 0 auto;
        padding: 3% 0% 15% 0%;
    }
    .Contentshower{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1%;
    }

    .Mainbox{
        width: 60%;
        margin: 4% 10%;
    }
    
    .Nametag .logo_container{
        width: 90%;
        margin:10% auto;
        flex-direction: column;
     
        .main_logo{
            width: 50px;
            margin:2% 0;
        }
    
        div{
            margin:0 2%;
    
        }
    }


    footer{
        display: none;
    }

    .lightanddark{
        width: 100%;

    }

    .about_us {

    
        h4 {
            margin:15% 0% 3% 0%;
        }
    }
    
}


@media only screen and (min-device-width: 700px) and (max-device-width:  1024px){
   
    .Mainbox{
        width: 30%;
        margin: 4% 8%;
    }

    .Nametag .logo_container{
        width: 90%;
        margin:10% auto;
        flex-direction: column;
     
        .main_logo{
            width: 50px;
            margin:2% 0;
        }
    
        div{
            margin:0 2%;
    
        }
 
  }
}