@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 13% 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.coversection {
  width: 70%;
  margin: auto;
  vertical-align: middle;
}

.productcover {
  margin: 1% auto;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 2%;
}

.nav-bar {
  padding: 1%;
  background-color: #012154;
  color: #ffffff;
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.navs {
  height: 5%;
  margin: 0 auto;
  padding: 2%;
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offlogo {
  width: 3vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offlogo:hover + span {
  color: #98bfff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tapbut {
  color: #ffffff;
}

.tapbut:hover + span {
  color: #98bfff;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pharagraphe {
  margin: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pot {
  width: 30%;
  margin: 0 auto 0 0;
}

.pot img {
  border-radius: 5px;
  width: 90%;
  height: auto;
  margin: 0 5% 0 0;
  float: right;
}

.socialicon {
  color: #012154;
  font-size: 3vh;
  margin: 0;
}

.subheading {
  color: #012154;
  border-bottom: 3px solid #000000;
  margin: 0% 0% 3% 0%;
  font-size: 3vh;
  padding: 0 0 0 3%;
}

.subheading i {
  color: #012154;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc {
  width: 100%;
  padding: 0.5%;
  margin-bottom: 5%;
  -webkit-animation: slide 0.3s;
          animation: slide 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5%;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-animation: slide 0.4s;
          animation: slide 0.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.ad-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 0.4s;
          animation: slide 0.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.detailes {
  position: relative;
  width: 95%;
  padding: 0.5% 0 0 1.5%;
  border-left: 3px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  width: 90%;
  height: auto;
  margin: 3% auto;
  bottom: 0;
  background: #012154;
  color: #ffffff;
  font-weight: 500;
  border-radius: 5px;
  bottom: 0;
  text-align: center;
  padding: 1% 1.5% 1% 1.5%;
  text-align: center;
  font-size: 2vh;
}

.btn:hover {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background: #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #98bfff;
}

span {
  font-size: 2vh;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.5% 0;
}

h1 {
  color: #98bfff;
  font-size: 2vh;
  text-align: center;
  font-weight: 400;
  margin: 0;
  background-color: #012154;
}

h2 {
  font-size: 2.5vh;
  margin-left: 3%;
  color: #000000;
  margin: 0px;
  font-weight: 500;
}

h3 {
  font-size: 2.5vh;
  margin: 0px;
  color: #000000;
  margin: 0px;
  font-weight: 300;
}

h4 {
  font-size: 2vh;
  margin: 0px;
  color: #000000;
  font-weight: 100;
}

h5 {
  font-size: 2.5vh;
  margin: 0px;
  font-weight: 100;
}

p {
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  font-size: 2vh;
  margin: 0px;
  color: #000000;
  margin: 0;
}

a {
  text-decoration: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.social a {
  color: #012154;
  width: 30%;
  font-size: 3rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1% 10%;
  padding: 1% 10%;
}

footer {
  margin: 5% 0 20% 0;
  height: 10%;
  padding: 2%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px solid #012154;
  border-bottom: 3px solid #012154;
}

footer a {
  color: #012154;
  text-decoration: none;
  margin-bottom: 10%;
}

footer h4 {
  margin: 1%;
}

footer .footercontrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: center;
}

footer .footercontrol img {
  height: 30px;
}

ul {
  margin: 0;
}

li li {
  margin: 0;
}

.wallpapersection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wpbloc {
  width: 30%;
  margin: 0.5%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.wpbloc img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.tdbloc {
  width: 73%;
  padding: 0.5%;
  margin: 0.5%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dj {
  padding: 2%;
  margin: 1%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.img-service {
  -webkit-width: 50%;
  -webkit-height: auto;
  width: 50%;
  height: auto;
  padding: 0 0 0 2%;
}

.text-service {
  padding: 0 0 0 2%;
  width: 50%;
}

.djthings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20%;
}

.djthings img {
  width: 30%;
  margin: 1%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */