@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.2;
  z-index: -10;
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: 'Mulish', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-size: 120%;
  scroll-behavior: smooth;
  background: #0c0c0c;
  font-family: 'Mulish', sans-serif;
  color: #ffffff;
  -webkit-transition: all 5S ease-in-out 1;
  transition: all 5S ease-in-out 1;
}

header {
  background: #000000;
  height: auto;
  padding: 1.5% 2%;
  z-index: 2;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav img {
  width: 30px;
  height: 30px;
}

header nav a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  width: 10%;
  text-align: center;
  padding: 1% 0.5%;
  border-radius: 5px;
  background-color: #ffffff31;
  font-weight: 700;
}

header nav a .tapbutton {
  margin: 0% 1%;
}

header nav a:hover {
  -webkit-transition: all 2S ease-in-out 1;
  transition: all 2S ease-in-out 1;
  color: #012154;
  background: #ffffff;
  border-radius: 5px;
}

.activebutton {
  color: #19d3da;
  background: #ffffff31;
  border-radius: 5px;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 2% 1%;
}

main .Contentshower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.loadingscreen {
  background: #0c0c0c;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingscreen img {
  width: 100px;
  margin: 0% auto;
}

.loadingscreen p {
  margin: 1% auto;
}

.Nametag .logo_container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% auto;
}

.Nametag .logo_container .main_logo {
  width: 80px;
  margin: 0;
}

.Nametag .logo_container div {
  margin: 0 2%;
}

.Mainbox {
  width: 23%;
  height: 100%;
  margin: 1% 10% 0% 0%;
}

.wallpaper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wallpaper img {
  width: 100% !important;
  height: 100% !important;
  border: 0.1px solid #ffffff48;
  border-radius: 5px solid;
  background-color: #ffffff38;
}

.wallpaper h4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  bottom: 0;
  margin: 80% -10%;
}

.wallpaper .buttondownload {
  position: absolute;
  width: auto;
  height: auto;
  margin: 0 1%;
  bottom: 0;
  background-color: #195dda23;
  border: 2px solid #ffffff48;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 3% 12%;
  border-radius: 5px;
}

.wallpaper .buttondownload:hover {
  background-color: #ffffff;
  color: #012154;
}

footer {
  background-color: #000000;
  padding: 3% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-weight: 500;
}

footer div {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div a {
  text-decoration: none;
  color: #ffffff;
  background: #ffffff28;
  padding: 2% 3%;
  border-radius: 5px;
}

footer div a:hover {
  color: #012154;
  background: #ffffff;
}

.about_us {
  padding: 4%;
}

.about_us h4 {
  margin: 5% 0% 1% 0%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3% 0;
  margin: 3% 0 5% 0;
  border-radius: 5px;
  background: #195dda10;
}

.social a {
  text-decoration: none;
  color: #ffffff;
  background: #19d3da;
  font-size: 3vh;
  padding: 2% 3%;
  border-radius: 5px;
}

.social a:hover {
  color: #012154;
  background: #ffffff;
}

.hide {
  display: none;
  position: absolute;
  left: -999em;
}

.lightanddark {
  width: 50%;
  margin: 3% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightanddark .buttonsselecter {
  background: rgba(255, 255, 255, 0.027);
  color: #19d3da;
  border: none;
  padding: 2% 5%;
  outline: none;
  border-radius: 5px;
  margin: 0% 2%;
}

.lightanddark .buttonsselecter:hover {
  background: white;
  color: #012154;
}

.lightanddark .activebuttonsselecter {
  background: white;
  color: #012154;
}
/*# sourceMappingURL=style.css.map */