$white: #ffffff;
$black: #0c0c0c;
$darkblack: #000000;
$theme: #012154;
$lightblue: #19d3da;
$iconscolor: #19d3da;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Mulish', sans-serif;
}
button{
    font-size: 80%;
}

html {
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    font-size: 120%;
    scroll-behavior: smooth;
    background: $black;
    font-family: 'Mulish', sans-serif;
    color: $white;
    transition: all 5S ease-in-out 1;

}

header {
    background: $darkblack;
    height: auto;
    padding: 1.5% 2%;
    z-index: 2;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 30px;
            height: 30px;
        }

        a {
            text-decoration: none;
            display: block;
            color: $white;
            width: 10%;
            text-align: center;
            padding: 1% 0.5%;
            border-radius: 5px;
            background-color: #ffffff31;
            font-weight: 700;
        }

        a .tapbutton {
            margin: 0% 1%;

        }

        a:hover {
            transition: all 2S ease-in-out 1;
            color: $theme;
            background: $white;
            border-radius: 5px;
        }
    }
}

.activebutton {
    color: $lightblue;
    background: #ffffff31;
    border-radius: 5px;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 2% 1%;

    .Contentshower {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}


.loadingscreen {
    background: $black;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
        margin: 0% auto;
    }

    p {
        margin: 1% auto;
    }
}

.Nametag .logo_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;

    .main_logo {
        width: 80px;
        margin: 0;
    }

    div {
        margin: 0 2%;

    }
}


.Mainbox {
    width: 23%;
    height: 100%;
    margin: 1% 10% 0% 0%;
}

.wallpaper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img {
        width: 100% !important;
        height: 100% !important;
        border: 0.1px solid #ffffff48;
        border-radius: 5px solid;
        background-color: #ffffff38;
    }

    h4 {
        transform: rotate(90deg);
        position: absolute;
        bottom: 0;
        margin: 80% -10%;
    }

    .buttondownload {
        position: absolute;
        width: auto;
        height: auto;
        margin: 0 1%;
        bottom: 0;
        background-color: #195dda23;
        border: 2px solid #ffffff48;
        text-decoration: none;
        color: $white;
        text-align: center;
        padding: 3% 12%;
        border-radius: 5px;
    }

    .buttondownload:hover {
        background-color: $white;
        color: $theme;
    }
}

footer {
    background-color: $darkblack;
    padding: 3% 3%;
    display: flex;
    justify-content: space-between;
    color: $white;
    font-weight: 500;

    div {
        width: 20%;
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: $white;
            background: #ffffff28;
            padding: 2% 3%;
            border-radius: 5px;
        }

        a:hover {
            color: $theme;
            background: $white;
        }
    }

}

.about_us {
    padding: 4%;

    h4 {
        margin: 5% 0% 1% 0%;

    }
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 3% 0;
    margin: 3% 0 5% 0;
    border-radius: 5px;
    background: #195dda10;

    a {
        text-decoration: none;
        color: $white;
        background: $lightblue;
        font-size: 3vh;
        padding: 2% 3%;
        border-radius: 5px;
    }

    a:hover {
        color: $theme;
        background: $white;
    }
}


.hide {

    display: none;
    position: absolute;
    left: -999em;
}

.lightanddark {
    width: 50%;
    margin: 3% auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .buttonsselecter {
        border: 1px solid #19d4da2c;
        background: rgba(255, 255, 255, 0.027);
        color: $white;
        padding: 2% 3%;
        outline: none;
        border-radius: 5px;
        margin: 0% 2%;
        font-weight: 700;

    }

    .buttonsselecter:hover {
        background: rgb(255, 255, 255);
        color: $theme;
        cursor: pointer;
    }

    .activebuttonsselecter {
        background: rgb(255, 255, 255);
        color: $theme;
    }
}

//exporerpage css only
.explorersection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.assetcsofcontents {
    width:20%;
    margin: 1%;
    background: rgba(255, 255, 255, 0.027);
    padding: 1%;
    border-radius: 10px;
    text-align: left;

    img {
        display: block;
        margin: 3% auto;
        border-radius: 10px;
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }

    h2{
        margin:2% 0%;
        color: $lightblue;
    }

    p{
        margin:2% 0%; 
    }
    a{
        display: block;
    }
    
    
    .butandtag{
    display: flex;
    align-items: center;
    }
    
    
    .tags{
        width: auto;
        height: auto;
        display: block;
        background: rgba(255, 255, 255, 0.027);
        color: $lightblue;
        border: none;
        padding: 3% 3%;
        outline: none;
        border-radius: 5px;
        margin:5% 2%;
        font-style: italic;
    }
    
    .buttonassects{
        width:20%;
        height: auto;
        margin: 1% 0% 1% auto;
        background-color: #195dda23;
        border: 2px solid #ffffff48;
        text-decoration: none;
        color: $white;
        text-align: center;
        padding: 3% 10%;
        border-radius: 5px;
    }

}

.alltypes{
    display: flex;
    justify-content: center;
    margin: 3% auto;
}

.alltypes button{
    border: 1px solid #19d4da2c;
    background: rgba(255, 255, 255, 0.027);
    color: $white;
    padding: 1% 3%;
    outline: none;
    border-radius: 5px;
    margin: 0% 2%;
    font-weight: 700;

}

.alltypes button:hover {
    background: rgb(255, 255, 255);
    color: $theme;
    cursor: pointer;
}

.activation {
    background: blue;
    color: $theme;
}
