$white-color: #ffffff;
$black-color: #000000;
$back: whitesmoke;
$theme: #012154;
$themesupport: #98bfff;


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	background: $back;
	font-family: 'Noto Sans TC', sans-serif;
	padding: 13% 0;
	transition: all 0.5s ease-in-out;
}
.coversection {
	width: 70%;
	margin: auto;
	vertical-align: middle;
}
.productcover {
	margin: 1% auto;
	box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
				0 8px 8px rgba(0,0,0,0.20);
	border-radius: 5px;
	padding: 2%;
	
}
.nav-bar {
	padding: 1%;
	background-color: $theme;
	color: $white-color;
	width: 100%;
	height:15%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.navs {
	height: 5%;
	margin: 0 auto;
	padding: 2%;
	font-size: 4vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.offlogo {
	width: 3vh;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	&:hover + span {
		color: $themesupport;
		transform: scale(1.3);
		z-index: 5;
		transition: all 0.5s ease-in-out;

	}
}
.tapbut {
	color: $white-color;
	&:hover + span {
		color: $themesupport;
		transform: scale(1.3);
		z-index: 5;
		transition: all 0.5s ease-in-out;

	}
}

.pharagraphe {
	margin: 1%;
	align-items: center;
}

.pot {
	width: 30%;
	margin: 0 auto 0 0;
	img {
		border-radius: 5px;
		width: 90%;
		height: auto;
		margin: 0 5% 0 0;
		float: right;
	}
}

.socialicon {
	color: $theme;
	font-size: 3vh;
	margin: 0;
}
.subheading {
	color: $theme;
	border-bottom: 3px solid $black-color;
	margin: 0% 0% 3% 0%;
	font-size: 3vh;
	padding: 0 0 0 3%;
	i{
		color: $theme;
	}
}
.flex {
	display: flex;
	flex-direction: column;
}
.bloc {
	width: 100%;
	padding: 0.5%;
	margin-bottom: 5%;
	animation: slide 0.3s;
	animation-timing-function: linear;
}
.sale {
	display: flex;
	padding: 2.5%;
	margin: 0;
	justify-content: flex-start;
	position: relative;
	animation: slide 0.4s;
	animation-timing-function: linear;
}
.ad-service {
	display: flex;
	animation: slide 0.4s;
	animation-timing-function: linear;
}
.detailes {
	position: relative;
	width: 95%;
	padding: 0.5% 0 0 1.5%;
	border-left: 3px solid $black-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.btn {
	width: 90%;
	height: auto;
	margin: 3% auto;
	bottom: 0;
	background: $theme;
	color: $white-color;
	font-weight: 500;
	border-radius: 5px;
	bottom: 0;
	text-align: center;
	padding: 1% 1.5% 1% 1.5%;
	text-align: center;
	font-size: 2vh;
	&:hover {
		transition: all 1s ease-in;
		background: $black-color;
		transform: scale(1.1);
		color: $themesupport;
	}
}
span {
	font-size: 2vh;
	color: $white-color;
	justify-content: center;
	align-content: center;
	padding: 0.5% 0;
}
h1 {
	color: $themesupport;
	font-size: 2vh;
	text-align: center;
	font-weight: 400;
	margin: 0;
	background-color: $theme;
}
h2 {
	font-size: 2.5vh;
	margin-left: 3%;
	color: $black-color;
	margin: 0px;
	font-weight: 500;
}
h3 {
	font-size: 2.5vh;
	margin: 0px;
	color: $black-color;
	margin: 0px;
	font-weight: 300;
}
h4 {
	font-size: 2vh;
	margin: 0px;
	color:$black-color;
	font-weight: 100;
}
h5 {
	font-size: 2.5vh;
	margin: 0px;
	font-weight: 100;
}
p {
	text-align: center;
	color: $white-color;
	font-weight: 100;
	font-size: 2vh;
	margin: 0px;
	color: $black-color;
	margin: 0;
}

a {
	text-decoration: none;
}
.social {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-self: center;
	justify-content: center;
	width: 50%;
	a {
		color: $theme;
		width: 30%;
		font-size: 3rem;
		align-content: center;
		justify-content: center;
		margin: 1% 10%;
		padding: 1% 10%;
	}
}

footer {
	margin: 5% 0 20% 0;
	height: 10%;
	padding: 2%;
	text-align: center;
	align-content: center;
	justify-content: center;
	border-top:3px solid $theme;
	border-bottom:3px solid $theme;
	a {
		color: $theme;
		text-decoration: none;
		margin-bottom: 10%;
	}
	h4{
		margin: 1%;
	}
	.footercontrol{
		display: flex;
		vertical-align: center;
		
	img{
		height:30px;
	}
	}
}
ul {
	margin: 0;
}
li {
	li {
		margin: 0;
	}
}
.wallpapersection {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 30%;
	align-content: center;
	justify-content: center;
}
.wpbloc {
	width: 30%;
	margin: 0.5%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
	0 2px 2px rgba(0,0,0,0.12), 
	0 4px 4px rgba(0,0,0,0.16), 
	0 8px 8px rgba(0,0,0,0.20);
	border-radius: 5px;
	img {
		width: 100%;
		height: auto;
		border-radius: 3px;
	}
}
.tdbloc {
	width: 73%;
	padding: 0.5%;
	margin: 0.5%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
	0 2px 2px rgba(0,0,0,0.12), 
	0 4px 4px rgba(0,0,0,0.16), 
	0 8px 8px rgba(0,0,0,0.20);
	border-radius: 5px;
}
.dj {
	padding: 2%;
	margin: 1%;
	justify-content: flex-start;
}
.img-service {
	-webkit-width: 50%;
	-webkit-height: auto;
	width: 50%;
	height: auto;
	padding: 0 0 0 2%;
}
.text-service {
	padding: 0 0 0 2%;
	width: 50%;
}
.djthings {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20%;
	img {
		width: 30%;
		margin: 1%;
		box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
		0 2px 2px rgba(0,0,0,0.12), 
		0 4px 4px rgba(0,0,0,0.16), 
		0 8px 8px rgba(0,0,0,0.20);
		border-radius: 5px;
	}
}
