$white-color: #ffffff;
$black-color: #000000;
$back: whitesmoke;
$theme: #012154;
$themesupport: #19d3da;
$icons: #2672ff;
$lightcolor:#f8f8f8;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
}

.spinner-wrapper {
    margin: 0;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $themesupport;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: $themesupport;
}

html {
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    background: $back;
    font-family: 'Mulish', sans-serif;
    padding: 13% 0;
    transition: all 0.5s ease-in-out;
    box-sizing: content-box;
}

.coversection {
    width: 60%;
    margin: auto;
    vertical-align: middle;
}

.productcover {
    margin: 1% auto 5% auto;
    background: $lightcolor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 1%;
    position: relative;
    .sale {
        margin: 0.5% auto;
        display: flex;
        padding: 0.5%;
    }
    .detailes {
        width: 95%;
        padding: 0.5% 0%;
        display: flex;
        flex-direction: column;
        .line {
            margin: 0% 0% 1% 0%;
        }
    }
    .pot {
        width: 40%;
        margin: 0;
        img {
            position: relative;
            border-radius: 5px;
            width: 90%;
            height: auto;
            margin: 0% 5% 0 0;
            float: right;
        }
    }
}

.buttonslot {
    display: flex;
    margin: 2% auto;
    a {
        text-align: center;
        font-size: 1.5em;
        width: 100%;
    }
    .btn {
        width: auto;
        margin: auto;
    }
}

.btn {
    display: flex;
    text-transform: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    margin: 1% auto;
    color: $themesupport;
    background: $theme;
    border-radius: 5px;
    padding: 1% 1.5% 1% 1.5%;
    font-size: 1em;
    i,
    span {
        width: auto;
        padding: 0% 1%;
        margin: 0;
    }
    &:hover {
        opacity: 0.9;
    }
}

header {
    padding: 2% 0;
    background-color: $theme;
    color: $white-color;
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    z-index: 5;
}

.navs {
    margin: auto;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    span {
        font-size: 0.5em;
    }
}

.offlogo {
    width: 3vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &:hover+span {
        color: $themesupport;
        transform: scale(1.3);
        z-index: 5;
        transition: all 0.5s ease-in-out;
    }
}

.tapbut {
    color: $white-color;
    &:hover+span {
        color: $themesupport;
        transform: scale(1.2);
        z-index: 5;
        transition: all 0.5s ease-in-out;
    }
}

.pharagraphe {
    margin: 1%;
    align-items: center;
}

.socialicon {
    color: $icons;
    font-size: 3vh;
    margin: 0;
}

.subheading {
    color: $theme;
    margin: 0% 0% 3% 0%;
    font-size: 1.3em;
    padding: 0 0 0 3%;
    i {
        color: $theme;
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.bloc {
    width: 100%;
    padding: 0.5%;
    margin-bottom: 5%;
    animation: slide 0.3s;
    animation-timing-function: linear;
}

.ad-service {
    display: flex;
    animation: slide 0.4s;
    animation-timing-function: linear;
}

.navs a span {
    font-size: 2vh;
    color: $white-color;
    justify-content: center;
    align-content: center;
    padding: 0.5% 0;
}

h1 {
    background-color: $theme;
    color: $themesupport;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: 2% auto;
    margin: 1% auto;
}

h2 {
    font-size: 1.3em;
    margin-left: 3%;
    color: $black-color;
    margin: 0px;
    font-weight: 500;
}

h3 {
    font-size: 1.2em;
    margin: 0px;
    color: $black-color;
    margin: 0px;
    font-weight: 400;
}

h4 {
    font-size: 0.9em;
    margin: 0px;
    color: $black-color;
    font-weight: 300;
}

h5 {
    font-size: 0.8em;
    margin: 0px;
    font-weight: 100;
}

p {
    text-align: center;
    color: $white-color;
    font-weight: 100;
    font-size: 1em;
    margin: 0px;
    color: $black-color;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1em;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    width: 100%;
    a {
        width: 60%;
        color: $theme;
        font-size: 1em;
        align-content: center;
        justify-content: left;
        text-align: left;
        margin: 1% auto;
        border-bottom: 1px solid $theme;
        padding: 1% 5%;
    }
}

.contactbuts {
    display: flex;
    justify-content: center;
    color: $black-color;
    align-items: center;
    i {
        margin: 0% 4%;
    }
}

footer {
    margin: 5% 0 20% 0;
    height: 10%;
    padding: 2%;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-top: 3px solid $theme;
    border-bottom: 3px solid $theme;
    a {
        color: $theme;
        text-decoration: none;
        margin-bottom: 10%;
    }
    h4 {
        margin: 1%;
    }
    .footercontrol {
        display: flex;
        vertical-align: center;
        img {
            height: 30px;
        }
    }
}

ul {
    margin: 0;
}

li {
    li {
        margin: 0;
    }
}

.wallpapersection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30%;
    align-content: center;
    justify-content: center;
}

.wpbloc {
    width: 30%;
    margin: 0.5%;
    border-radius: 5px;
    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
}

.tdbloc {
    width: 73%;
    padding: 0.5%;
    margin: 0.5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.dj {
    padding: 2%;
    margin: 1%;
    justify-content: flex-start;
}

.img-service {
    -webkit-width: 50%;
    -webkit-height: auto;
    width: 50%;
    height: auto;
    padding: 0 0 0 2%;
}

.text-service {
    padding: 0 0 0 2%;
    width: 50%;
}

.djthings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20%;
    img {
        width: 30%;
        margin: 1%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
        border-radius: 3px;
    }
}