@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        background-image: repeating-linear-gradient(to bottom right,
                transparent 7px,
                rgba(255, 255, 255, 0.8) 0.5px,
                rgb(0, 15, 26) 1px,
                transparent 10px);
        color: #ccc;
    }

    .main-bar {
        background-color: black;
        background-image: repeating-linear-gradient(to bottom right,
                transparent 7px,
                rgba(255, 255, 255, 0.8) 0.1px,
                rgb(0, 15, 26) 0.5px,
                transparent 11px);
        background-size: 20%;

    }


    p,
    h2,
    h4,
    h5,
    h6 {
        color: white;
    }

    h4 {
        color: #adadad;
    }

    h3 {
        color: white;
    }


    .social a {
        color: white;
        font-size: 40px;
    }

    .subheading {
        color: #00aeff;
    }

    .btn {
        color: white;
    }

    footer {
        background: black;
    }

    .bloc .fas,
    .bloc .fab,
    .bloc .far {
        color: white;


    }

    .subheading .fas,
    .fab,
    .fa {
        color: white;

    }

    span{
        color: white;
    }

    .tapbut {
        color: white;

    }


    .tapbut:hover {
        color: #00aeff;
    }

    .socialicon {
        color: white;

    }

    .socialicon:hover {
        color: #00aeff;

    }

    .wpbloc {
        border: whitesmoke solid 2px;
    }

    .djthings img {
        border: whitesmoke solid 2px;
    }

    footer {
        background: none;
    }

}