
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');


@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    height: auto;
    position: relative;
    
  }    
 

  .main-bar {
    opacity:1;
    width: auto;
    height: 7%;
    margin:0 auto;
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    border-top: whitesmoke solid 2px;
    border-radius: 2px;
    }

    footer{
    margin:0 0 30% 0;      
    }
    
   section{
        padding:2%;
    }
    
    .ad-service {
    display: flex;
    flex-wrap: wrap;
    }


    .img-service {
    width: 95%;
    height: auto;
    margin:0.5%;
    }

    .text-service {
    width: 95%;
    align-items: center;
    margin:0 auto;
    text-align: center;
}
    
    
.text-service .btn{
    align-items: center;
    margin:1% auto;
    text-align: center;
    width:95%;
}
    
.img-service{
     margin:1% auto;   
    }
    
/*wallpaper*/
.wpbloc{
  width:46%;

}


.djthings img{
  margin:1% 1%;
  width:44%;
  padding:1%;
  align-items: center;
}


}




