@media screen and (max-width: 1200px) {


    header{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 3% 1%;
        a span{
            display: none;
        }
        z-index: 2;
    }

    main{
        width: 100%;
        margin: 0 auto;
        padding: 10% 0%;
    }
    .Contentshower{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1%;
    }

    .wallpaper{
        width: 60%;
        margin: 4% 10%;
    }

    .Nametag .logo_container{
        width: 90%;
        margin:10% auto;
        flex-direction: column;
     
        .main_logo{
            width: 50px;
            margin:2% 0;
        }
    
        div{
            margin:0 2%;
    
        }
    }
}


@media only screen and (min-device-width: 700px) and (max-device-width:  1200px){
    /* For portrait layouts only */
    main{
        width: 100%;
        margin: 0 auto;
        padding: 10% 0%;
    }

    .wallpaper{
        width:25%;
        margin: 4% 10%;
    }
  }
