body {
    width:98%;
    height:100%;
    background:whitesmoke;
    margin:0px;
    display: block;
    -webkit-margin-right:0px;
    -webkit-margin-left:0px;
    -webkit-margin-bottom:0px;
    -webkit-margin-top:0px;

}

.myhead{
    background-color:white;
    border:1px solid black;
    border-radius: 50px 50px 50px 50px;
    text-align:center;
    margin:0.5%
}

.storehead{
    background-color:white;
    border:1px solid black;
    border-radius: 50px 50px 50px 50px;
    text-align:center;
    margin:1% 1% 0 1%;
}


.flex {
    display: flex;
}

.fa-bars{
    margin:1.5% 0 1.5% 2%;
    font-size:4vw;
}

.menu{
    text-decoration:none;
    color:black;
    margin:1.3% 0 1% 2%;
}

.menu:hover{
    color:lightblue;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex:5;
    color:black;
    font-size:4vw;
    margin:1.5% 0 1.5% 0;
}

h2 {
    font-size:3vw;
    margin-left:3%;
    font-family: 'Righteous', cursive;
    color: black;
    margin:0;

}

h3 {
    font-size:3vw;
    margin:0;
    font-family: 'Lobster', cursive;
    color:black;
    margin:0;
}

h4 {
    font-family: 'Lobster', cursive;
    color: black;
    margin:0;
}

p{  
    font-family: 'Lobster', cursive;
    font-size:2.8vw;
    margin:0;
    color: black;
}

a{
    text-decoration: none
}

li{
    font-size:2;
}


section{
    height:auto;
    width:100%;

}

.photo {
    width:50%;
    height:100%;
    margin:1%;
    border:3px black solid;
    border-radius:25% 0% 25% 0%;

}

.subheading{
    color:black;
    padding:1%;
    border-bottom:5px double black;
    border-top:3px double black;
    text-align:center;
    margin:5% 0% 3% 0%;
    width:100%;
}

.text{
    margin:1% 0 1% 5%;
}

.center{
    margin-left:5%;
}


.btnf{
    border-radius:25px;
    width:40%;
    height:100%;
    background:white;
    text-align: center;
    margin:auto;
    border:1px solid black;
    animation-name:glissement;
    animation-duration:1s;
}

.dance{
    margin-left:1%;
}

.flero {
    display: flex;
    flex-direction: row;
    background:whitesmoke;
    flex-wrap: wrap;

}


.flero a {
    color:black;
    font-size:6vw;
}

.flero h2{
    font-size:5vw;
    margin:0 0 0 1%;
    flex:3;
}



.mail {
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.twitter {
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.insta {
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.snap {
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.youtube {
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.git{
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}




footer {
    margin-top:5%;
    background:whitesmoke;
    height:2%;
    width:98%;
    padding: 2%;
}

footer a {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    color: black;

}

.copy {
    text-align: center;
}

ul,li li,p{
    margin:0;
}


.log{
    height:100%;
    width:auto;
}


.fa-hdd{
    color:black;
    font-size:4vw;
    margin:1.5% 0 2% 2%;
}


.caption{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex:3;
    color:black;
    font-size:4vw;
    margin:1.5% 0 1.5% 0;
}

.sale{
    display: flex;
    position:static;
    /* border-radius:5% 5% 5% 5%; */
    box-shadow: 3px 3px 5px grey;
    width:100%;
    height:auto;
    padding:2%;

}

.detailes{
    position:absolute;
    left:50%;
    padding:2%;
}


.pot img{
    position:relative;
    border-radius:5% 5% 5% 5%;
    width:50%;
    height:auto;
}

.btn{
    text-align:center;
    padding:0 1% 0 1% ;
    border-radius:25px;
    width:40%;
    height:100%;
    background:white;
    text-align: center;
    margin:auto;
    border:1px solid black;
}


.detailes h3{
    font-family: 'Poiret One', cursive;
    font-size:3vw;
    width:110%;
}

@media only screen and (max-width: 1024px) {
    .detailes h3{
        font-family: 'Poiret One', cursive;
        font-size:3vw;
        width:80%;
    }

}
