@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

* {
    margin: 0 auto;
}

::selection {
    background-color: black;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 1%;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #002357;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00aeff;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}

.coversection {
    width: 70%;
    margin: auto;
    vertical-align: middle;

}

.productcover {
    
    margin: 2% auto;
    border-radius: 5px; 
}

.main-bar {
    opacity: 1;
    background-color: white;
    width: 80%;
    height: 7%;
    margin: 0.3% auto;
    font-size: 4vh;
    display: flex;
    border: whitesmoke solid 2px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    border-radius: 5px;
    left: 0;
    right: 0;
    z-index: 5;
}

span{
    color: black;
    justify-content: center;
    align-content: center;
}

h1 {
    padding: 3%;
    font-size: 7vh;
    line-height: 7vh;
    font-family: 'Odibee Sans', cursive;
    text-align: center;
    animation: blink 5s infinite;
}

.vbg {
    width: 100%;
    height: auto;
}

.pharagraphe {
    margin: 1%;
    align-items: center;

}

.namesection {
    padding: 20% 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: rgb(0, 0, 0);
    
}


.getonplay {
    width: 30%;
    height: auto;
    margin: 1%;
}


.pot {
    width: 30%;
    margin: 0 auto 0 0;
}

.pot img {
    border-radius: 5% 5% 5% 5%;
    width: 90%;
    height: auto;
    margin: 0 10% 0 0;
    float: right;

}

.tapbut {
    color: black;

}


.tapbut:hover {
    color: #00aeff;
}

.socialicon {
    color: #002357;
    font-size: 3vh;
    margin: 0;
    
}


.subheading {
    color: #005075;
    border-bottom: 2px solid grey;
    margin: 0% 0% 1% 0%;
    font-size: 3vh;
    width: 98%;
    padding: 0 0 0 2%;
}




.flex {
    display: flex;

}

.bloc {
    width: 100%;
    padding: 0.5%;
    margin-bottom: 5%;
    animation: slide 0.3s;
    animation-timing-function: linear;

}


/*sale photo and text*/
.sale {
    display: flex;
    padding: 2.5%;
    margin: 0;
    justify-content: flex-start;
    position: relative;
    animation: slide 0.4s;
    animation-timing-function: linear;
}

.ad-service {
    display: flex;
    animation: slide 0.4s;
    animation-timing-function: linear;

}



.detailes {
    position: relative;
    width: 95%;
    padding: 0.5% 0 0 1.5%;
    border-left: 1px solid grey;
    animation: slide 0.8s;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/*fini ici*/
.detailes .btn {
    width: 100%;
}


.btn {
    width: 90%;
    height: auto;
    margin: 3% auto;
    bottom: 0;
    background: #00aeff;
    color: aliceblue;
    bottom: 0;
    text-align: center;
    padding: 0.7% 1.5% 0.7% 1.5%;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8vh;
}

.btn:hover {
    background: #002357;
    color: aliceblue;
}


h2 {
    font-size: 2.5vh;
    margin-left: 3%;
    color: black;
    margin: 0px;


}

p {
    text-align: center;
    color: white;
}

h3 {

    font-size: 2.5vh;
    margin: 0px;
    color: black;
    margin: 0px;
}

h4 {

    font-size: 2vh;
    margin: 0px;
    color: dimgrey;

}

h5 {
    font-size: 2.5vh;
    margin: 0px;

}


p {
    font-size: 2vh;
    margin: 0px;
    color: black;
}

a {
    text-decoration: none;

}



.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    justify-content: center;
    width:50%;

}


.social a {
    color: #00aeff;
    width:30%;
    font-size: 3rem;
    align-content: center;
    justify-content: center;
    margin:1% 10%;
    padding: 1% 10%;
}



video {
    width: 95%;
    outline: none;
    margin: 0 auto;
    padding: 2%;
}

footer {
    margin: 5% 0 20% 0;
    background: white;
    height: 10%;
    padding: 2%;
    text-align: center;
}

footer a {
    color: cornflowerblue;
    text-decoration: none;
    margin-bottom: 10%;

}


ul,
li li,
p {
    margin: 0;
}


/*wallpaper*/
.wallpapersection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30%;
    align-content: center;
    justify-content: center;
}

.wpbloc {
    width: 30%;
    padding: 0.5%;
    margin: 0.5%;
    border: black solid 2px;
    border-radius: 5px;
}

.tdbloc {
    width: 73%;
    padding: 0.5%;
    margin: 0.5%;
    border: black solid 2px;
    border-radius: 5px;
}


.wpbloc img {
    width: 100%;
    height: auto;
}


/*service page*/
.dj {
    padding: 2%;
    margin: 1%;
    justify-content: flex-start;
}

.img-service {
    -webkit-width: 50%;
    -webkit-height: auto;
    width: 50%;
    height: auto;
    padding: 0 0 0 2%;
}

.text-service {
    padding: 0 0 0 2%;
    width: 50%;
}

.djthings {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20%;
}

.djthings img {
    width: 30%;
    padding: 0.5%;
    margin: 0.5%;
    border: black solid 2px;
    border-radius: 5px;
}

.djlogo {
    width: 20%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;

}






/*animated h1*/
@keyframes blink {

    20%,
    24%,
    55% {
        color: #001866;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 30px #ffffff, 1px 0px 30px #006eff;
        color: white;
    }
}


@keyframes slide {
    0% {
        opacity: 0;
        margin-left: 50%;
        transform: rotate(-1.5deg)
    }

    100% {
        opacity: 1;
        margin-left: 0%;
        transform: rotate(0)
    }
}