body {
    width: 100%;
    height:100%;
    margin: 0;
    background:whitesmoke;
}

.head{
    background-color:white;
    border:1px solid black;
    border-radius: 50px 50px 50px 50px;
    text-align:center;
    margin:0.5%
}

.flex {
    display: flex;
}

.fa-bars{
    margin:1.5% 0 1.5% 2%;
    font-size:3vw;
}



h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex:5;
    color:black;
    font-size:3vw;
    margin:1.5% 0 1.5% 0;
}
section{
    height:auto;
    width:100%;

}

.first{
    animation-name:glissement;
    animation-duration:1s;  
}

.photo {
    width:50%;
    height:100%;
    margin:1%;
    border:3px black solid;
    border-radius:25% 0% 25% 0%;
    
}

.cover{
    background:white;
    color:black;
    padding:1%;
    border:4px double black;
    border-radius: 50px 50px 50px 50px;
    text-align:left;
    margin:0.5%
}

.tex{
    margin:1%;
}

.center{
    margin-left:5%;
}
h3 {
    font-size:2vw;
    margin:0;
    font-family: 'Lobster', cursive;
    color:black;
}

h2 {
    font-size:2vw;
    margin-left:3%;
    font-family: 'Righteous', cursive;
    color: black;
    
}

.btnf{
    border-radius:25px;
    width:40%;
    height:100%;
    background:white;
    text-align: center;
    margin:auto;
    border:1px solid black;
    animation-name:glissement;
    animation-duration:1s;
}

.dance{
    margin-left:1%;
}

.flero {
    display: flex;
    flex-direction: row;
    background:whitesmoke;
    flex-wrap: wrap;

}


.flero a {
    color:black;
    font-size:5vw;
}

.flero h2{
    font-size:4vw;
    margin:0 0 0 1%;
    flex:3;
}


.mail:hover {
    border: 1px dashed black;
    background: linear-gradient(to bottom right, #00b2ff, #00b2ff, white);
    color:white;
}
.twitter:hover {
    border: 1px solid grey;
    background: linear-gradient(to bottom right, #00b2ff, #00b2ff, white);
    color:white;
}

.youtube:hover {
    border: 1px solid grey;
    background: linear-gradient(to bottom right, red, pink);
    color:white;
}


.snap:hover {
    border: 1px solid grey;
    background: linear-gradient(to bottom right, #fff200, #fff200, white);
    color:white;
}

.insta:hover {
    border: 1px solid grey;
    background: linear-gradient(to bottom right, #aa00ff, #ff263b, #ff9900, white);
    color:white;
}

.git:hover {
    border: 1px solid grey;
    background: linear-gradient(to bottom right, black, white);
    color:white;
}

.insta:hover h2{
    color:white;
}
.snap:hover h2{
    color:white;
}.youtube:hover h2{
    color:white;
}.twitter:hover h2{
    color:white;
}.mail:hover h2{
    color:white;
}.git:hover h2{
    color:white;
}



.mail {
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.twitter {
     border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.insta {
     border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.snap {
     border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.youtube {
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}

.git{
    border-radius: 50px 50px 50px 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height:auto;
    padding:0% 0% 0% 40%;
    background: white;
    margin:1%;
    border: 1px solid black;
}






.LOG {
    height: auto;
    width: 100%;
}



a{
    text-decoration: none
}


footer {
    background: white;
    height:100%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    color: black;

}



h4 {
    font-family: 'Lobster', cursive;
    color: black;
}

.copy {
    transform-origin: 50% 50%;
    animation: jump .5s linear alternate infinite;
    text-align: center;
}

ul,li{
    margin:0;
}

@keyframes glissement {

    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }

}

@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
    40% {
        transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
    }
    70% {
        transform: translate3d(0, 70%, 0) scale3d(1, 1, 1);
    }
}


/*store page csss*************************************************************/


.head1{
    background-color:white;
    border:1px solid black;
    border-radius: 50px 50px 50px 50px;
    text-align:center;
    margin:8% 1% 0 1%;
}

.fa-hdd{
    color:black;
    font-size:3vw;
    margin:1.5% 0 1.5% 2%;
}


.storhed{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex:3;
    color:black;
    font-size:3vw;
    margin:1.5% 0 1.5% 0;
}

.log{
    border-radius:5% 5% 5% 5%;
    width:100%;
    height:auto;
}
figure{
  width:25%;
  border-radius:5% 5% 5% 5%;
  box-shadow: 3px 3px 5px grey;
  display:inline-block;
  padding: 20px;
}

figcaption{
  text-align: center;
  font-style:italic;
  font-size: 0.8em;
}

.sale{
    display:inline-block;
    display: flex;
    border-radius:5% 5% 5% 5%;
    border-radius:5% 5% 5% 5%;
    box-shadow: 3px 3px 5px grey;
    width:90%;
    height:auto;
    margin:1%;
    padding:2%;
    
}

.detailes{
position:absolute;
left:50%;
}


.pot img{
    position:relative;
    border-radius:5% 5% 5% 5%;
    width:50%;
    height:auto;
}

.btn{
    border-radius:25px;
    width:40%;
    height:100%;
    background:white;
    text-align: center;
    margin:auto;
    border:1px solid black;
}


























